/* Базовые настройки страницы */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: #4c4a6d;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

/* Универсальные стили */
.orange {
    background-color: #fdc140;
}

.green {
    background-color: #abcd02;
}

p, h4 {
    margin: 0;
}

.left, .ul_li li {
    float: left;
}

.p-r-20 li:first-child {
    padding-right: 70px;
}

.right {
    float: right;
}

.ul_li {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 0;
}

.ul_li li {
    margin: 16px 20px 11px;
}

.ul_li i {
    margin-right: 10px;
}

.fa-chevron-down {
    margin-left: 5px;
    font-size: 8px;
    cursor: pointer;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.bottom_dropdown {
    display: block;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 100%;
    background-color: #fff;
    box-shadow: 0px 5px 12px 0.12px rgb(0 0 0 / 10%);
    transform: translate(0, 20px);
    transition: all .4s linear;
    z-index: 9;
}

.bottom__hover:hover .bottom_dropdown {
    opacity: 1;
    transform: translate(0, 30px);
    visibility: visible;
}

.fa-gift:hover,
.fa-language:hover,
.fa-money-bill-alt:hover {
    color: #e53556;
    cursor: pointer;
}

.fa-bullhorn {
    transition: all .3s ease;
}

.fa-bullhorn:hover {
    font-size: 16px;
    cursor: pointer;
}

.fa-shopping-bag {
    border: none;
    background: none;
    font-size: 25px;
    color: #fff;
    line-height: 1.7;
    margin-left: 5px;
    cursor: pointer;
    outline: none;
}

/*      menu
        top     */
.top {
    background-color: #f7f7f7;
    display: inline-block;
    width: 100%;
}

.top .ul_li li a {
    color: #4b4c6c;
}

.top_lang, .top_curr {
    color: #666;
    font-weight: 500;
}

.top_lang:hover, 
.top_curr:hover {
    color: #e53556;
    cursor: pointer;
}

.top ul li {
    border-right: 1px solid #dcdcdc;
}

.top ul li:last-child {
    border-right: none;
}

.icon_msg {
    position: relative;
}

.msg {
    position: absolute;
    top: -9px;
    right: 4px;
    background-color: #e53556;
    padding: 3px;
    text-align: center;
    color: #fff;
    font-size: 9px;
    border-radius: 50%;
}

/*      menu
        middle     */
.middle {
    list-style: none;
}

.middle__ul {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 20px 0 30px;
    padding: 0;
}

.middle__ul li:first-child {
    width: 270px;
    padding-left: 0;
}

.logo {
    width: 270px;
}

.middle__ul li {
    display: inline-block;
    border-right: 1px solid #dcdcdc;
    padding-left: 20px;
}

.middle__ul li:first-child, li:last-child {
    border-right: none;
}

.middle__ul li:nth-child(2) .block__info p span {
    text-transform: uppercase;
    color: #e53556;
}

.middle__ul li:nth-child(3) .block__info p span {
    color: #ffcc33;
}

.middle__ul li:nth-child(4) .block__info p span {
    color: #7cd0f5;
}

/* block */

.block {
    margin: 0 15px;
    padding-right: 50px;
}

.block__icon {
    width: 45px;
    height: 45px;
    float: left;
    background-color: #f4f4f4;
    border-radius: 50%;
}

.block__icon a {
    color: #336;
}

.block__icon a i {
    padding: 13px 0 0 15px;
    font-size: 18px;
}

.block__info {
    padding-left: 10px;
    margin-top: 7px;
    float: right;
}

.block__info h4 {
    margin: 0;
    font-size: 14px;
    color: #4c4b6c;
    font-weight: 500;
}

.block__info p {
    margin: 0;
    color: #999;
}

/*      menu
        bottom     */
.bottom {
    background-color: #f4f4f4;
    width: 100%;
    height: 60px;
}

.bottom__flex {
    display: flex;
    justify-content: space-between;
}

.bottom__left {
    position: relative;
    width: 100%;
    margin-top: 18px;
}

.bottom__right {
    width: 100%;
}

.home {
    width: 200px;
    padding: 10px;
}

.products {
    width: 1000px;
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: cover;
}

.sale {
    width: 900px;
    padding: 30px 18px;
    text-align: center;
}

.sale ul {
    padding: 0;
}

.sale ul li {
    padding: 10px;
}

.sale ul li a {
    display: inline-block;
    text-decoration: none;
    color: #666;
    margin-top: 15px;
}

.sale ul li a:hover {
    color: #7cd0f5;
}

.blogs {
    display: block;
}

.aboutus {
    width: 200px;
    text-align: center;
}

.column {
    display: flex;
    justify-content: space-between;
    width: 600px;
}

.bottom__ul li {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 0;
}

.bottom__ul-li {
    padding: 20px 40px;
}

.bottom__ul-li li {
    display: block;
}

.bottom__ul-li li a {
    display: inline-block;
    margin-bottom: 15px;
    text-decoration: none;
    color: #666;
}

.bottom__ul-li li a:hover {
    color: #7cd0f5;
}

.bottom__ul-li li a h4 {
    margin: 0;
    padding-bottom: 5px;
    color: #2b2b2b;
    font-size: 16px;
    transition: .1s linear;
}

.bottom__ul-li li a h4:hover {
    color: #7cd0f5;
}

.bottom__btn {
    text-decoration: none;
    padding: 10px 25px;
    font-size: 16px;
    color: #4b4c6c;
    font-weight: 500;
    transition: .09s linear;
}

.bottom__btn:hover {
    color: #fff;
    background-color: #7cd0f5;
    border-radius: 25px;
}

/* form */

.form {
    background-color: #fff;
    width: 300px;
    margin-top: 8px;
    margin-left: 90px;
    text-align: center;
    padding: 9px 10px;
    border-radius: 20px;
}

.form input {
    border: none;
    background: transparent;
    width: 200px;
    padding-left: 5px;
    outline: none;
}

.form button {
    border: none;
    background: none;
    font-size: 15px;
    padding-left: 30px;
    outline: none;
    cursor: pointer;
}

/* block__bottom */

.block__icon_bottom {
    width: 45px;
    height: 45px;
    float: left;
    background-color: #ffcc33;
    border-radius: 50%;
}

.block_bottom {
    margin-top: 7px;
    padding-right: 35px;
    position: relative;
}

.block__info_bottom {
    padding-left: 10px;
    margin-top: 7px;
    float: right;
    text-align: center;
}

.block__info_bottom h4 {
    margin: 0 0 3px 0;
    font-size: 16px;
    color: #4c4b6c;
    font-weight: 500;
    transition: .3s linear;
}

.block__info_bottom h4:hover {
    color: #e53556;
    cursor: pointer;
}

.block__info_bottom p {
    margin: 0;
    font-size: 12px;
    color: #4c4b6c;
    font-weight: bold;
}

.block__info_bottom p span {
    color: #999;
    font-weight: normal;
}

.block__icon_bottom:hover .icon {
    opacity: 1;
    visibility: visible;
    transform: translate(0, 10px);
}

.bottom_dropdown-shop {
    display: block;
    opacity: 0;
    visibility: hidden;
    background-color: #fff;
    position: absolute;
    top: 80px;
    left: -160px;
    box-shadow: 0px 5px 12px rgb(0 0 0 / 20%);
    padding: 20px 25px;
    transition: all .4s linear;
    z-index: 9;
}

.bottom_dropdown-shop .shopcard {
    padding: 0;
    margin: 0;
}

.bottom_dropdown-shop .shopcard li {
    width: 270px;
}

.block__icon_shopcard {
    width: 85px;
    height: 85px;
    float: left;
    margin-right: 10px;
}

.block__info_shopcard p a {
    font-size: 14px;
    color: #333366;
    font-weight: 500;
}

.block__info_shopcard h4 {
    font-size: 18px;
    display: inline-block;
    padding-right: 10px;
}

.block__info_shopcard del {
    color: #aeaeba;
}

.trash {
    margin-top: 10px;
    margin-left: 150px;
}

.fa-trash-alt {
    color: #336;
}

.shopcard li {
    display: inline-block;
    margin-bottom: 10px;
}

.shopcard {
    border-bottom: 1px solid #eee;
}

.shopcard__bottom {
    margin: 25px 0;
}

.shopcard__total p {
    font-size: 16px;
    color: #000;
    font-weight: 500;
}

.shopcard__total span {
    padding-left: 165px;
    font-size: 18px;
    color: #336;
    font-weight: 700;
}

.shopcard__check {
    margin-top: 40px;
    text-align: center;
}

.shopcard__check a {
    text-decoration: none;
    text-transform: uppercase;
    background-color: #7cd0f5;
    padding: 15px 55px;
    border-radius: 25px;
    color: #fff;
    transition: .3s linear;
}

.shopcard__check a:hover {
    box-shadow: 0 0 20px 1px #7cd0f5;
}

/*      main
        main__heading     */
.main__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f4f4f4;
    margin: 45px 0;
}

.main__heading h2 {
    font-size: 36px;
    color: #4c4b6c;
    font-weight: 500;
}

.main__heading p {
    color: #4c4b6c;
}

.main__heading a {
    font-size: 14px;
    color: #2b2b2b;
    text-decoration: none;
    transition: .3s;
}

.fa-chevron-circle-right {
    margin-left: 5px;
    color: #4c4b6c;
    cursor: pointer;
    transition: .3s;
}

.main__list-product {
    display: flex;
    justify-content: space-between;
}

.main__heading p:hover a,
p:hover .fa-chevron-circle-right {
    color: #7cd0f5;
}

.product {
    min-height: 335px;
}

.product__img {
    position: relative;
    margin-bottom: 20px;
}

.tooltips {
    position: absolute;
    top: 10px;
    right: -10px;
    color: #fff;
    font-size: 12px;
    padding: 5px 7px;
    border-radius: 7px;
    font-weight: 500;
}

.orange::before {
    content: "";
    position: absolute;
    top: 23px;
    left: 8px;
    width: 0;
    height: 0;
    border-top: 10px solid #fdc140;
    border-right: 8px solid transparent;
}

.green::before {
    content: "";
    position: absolute;
    top: 23px;
    left: 8px;
    width: 0;
    height: 0;
    border-top: 10px solid #abcd02;
    border-right: 8px solid transparent;
}

.product__img img {
    width: 200px;
    height: 200px;
}

.arrows {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: #888;
    font-size: 12px;
    opacity: 0;
    visibility: hidden;
}

.product__title a {
    text-decoration: none;
    font-size: 14px;
    color: #4b4c6c;
    font-weight: 400;
}

.fa-star {
    font-size: 8px;
    color: #ffcc33;
    margin-left: -3px;
}

.fa-star:first-child {
    margin-left: 0;
}

.stars {
    margin: 5px 0;
}

.stars span {
    font-size: 12px;
    color: #888895;
    font-style: italic;
    padding-left: 10px;
}

.price span {
    font-size: 18px;
    color: #4b4c6c;
    font-weight: 700;
}

.price del {
    font-size: 14px;
    color: #999;
    padding-left: 10px;
}

.product__icon {
    opacity: 0;
    visibility: hidden;
    width: 100%;
    transition: all .3s ease;
}

.product__icon > .block__icon {
    margin-left: 5px;
}

.block__icon .icon__hidden i {
    margin-top: 10px;
    margin-left: -2px;
    line-height: 0;
    color: #4b4c6c;
}

.product:hover .arrows {
    opacity: 1;
    visibility: visible;
}

.product:hover .stars {
    display: none;
}

.product:hover .product__icon {
    opacity: 1;
    visibility: visible;
}

.main__list-product .product:nth-child(3) {
    position: relative;
}

.main__list-product .product:nth-child(3) .product__img img {
    opacity: .1;
}

.sold {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 80px;
}

.sold h4 {
    font-size: 18px;
    color: #336;
}

.sold p {
    font-size: 14px;
    color: #999;
    font-style: italic;
}

.sold a {
    color: #fdc140;
}

.list-group {
    list-style: none;
}

.list-group li {
    color: #999;
    font-size: 14px;
    margin-bottom: 10px;
}

.list-group li span:last-child {
    padding-left: 10px;
}

.list-group li:nth-child(3) span:nth-child(2) a span:nth-child(2) {
    display: block;
    padding-left: 0;
}

.list-group li a {
    text-decoration: none;
    color: #999;
}

.footer__logo p {
    color: #2b2b2b;
    font-style: italic;
    cursor: pointer;
    transition: .2s linear;
}

.footer__logo p span {
    display: block;
}

.footer__logo p:hover {
    color: #dd2a2a;
}

.icons {
    margin-bottom: 20px;
    color: #2b2b2b;
}

.icons > .ul_li li{
    margin: 0;
    padding-right: 10px;
    cursor: pointer;
    transition: .2s;
}

.icons .ul_li li:hover {
    color: #dd2a2a;
}

.col-sm-2 {
    margin-top: 75px;
}

.insta {
    margin-top: 75px;
}

.col-sm-4 > .ul_li li {
    margin: 0;
    padding: 3px;
}

.footer__title {
    font-size: 24px;
    color: #336;
    font-weight: 600;
    position: relative;
}

.footer__title::before {
    content: "";
    width: 40px;
    height: 5px;
    background-color: #f3f3f3;
    position: absolute;
    bottom: -20px;
}

.footer__li-hover {
    padding-left: 0;
    margin-top: 60px;
}

.footer__li-hover li {
    list-style: none;
    transition: .2s linear;
    cursor: pointer;
    font-size: 14px;
    color: #999;
    margin-bottom: 10px;
}

.footer__li-hover li:hover {
    margin-left: 20px;
    color: #666;
    font-weight: 500;
}

.footer__top {
    border-bottom: 1px solid #f3f3f3;
    margin-bottom:30px;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.footer__bottom .col-sm-6 p {
    font-size: 14px;
    color: #999;
}

.footer__bottom .col-sm-6 p span {
    color: #336;
    font-weight: bold;
    cursor: pointer;
}

.footer__bottom .ul_li {
    float: right;
}

.footer__bottom .col-sm-6 > .ul_li li {
    margin-left: -12px;
    padding: 0;
}